// ~ find node_module directory
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

.header,
.footer {
  height: 50px;
  background-color: black;
  color: #fff;
  text-align: center;
  line-height: 50px;
  .silder-toolbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header{
  position: fixed;
  width: 100%;
  z-index: 2;
}

.home-content-wrap {
  padding-top: 50px;
  box-sizing: content-box;
  // padding-top 50px cause height isn't full so add margin-bottom to fill
  >.slide-wrap {
    padding-left: 0;
    background-color: #fff;;
  }
  >.right-content-wrap{
    min-height: 100vh;
    background-color: #f2f2f2;

  }
}
