@import "../../common/common.scss";

#example-collapse-text {
  a {
    @include linkString;

    >.list-group-item {
      border-radius: 0;
      @include linkString;
      border: 0;
      border-bottom: 1px solid rgba(0,0,0,.125);
    }
  }
  a.active {
   >.list-group-item{
    background-color: var(--cyan);
   } 
  }

}